--extra-index-url https://download.pytorch.org/whl/cpu

# fastapi & server
gunicorn==22.0.0
fastapi==0.111.0
uvicorn[standard]~=0.46.0
python-multipart==0.0.9
pydantic~=2.13.0

# vision & ML
opencv-python~=4.8.1.78
ultralytics~=8.4.37
torch~=2.11.0
numpy==1.26.4

# OCR
pytesseract~=0.3.13
arabic-reshaper==3.0.0
python-bidi~=0.6.7
Pillow~=12.2.0

# AI
groq~=1.2.0

# voice
edge-tts~=7.0.0
pygame-ce

# utils
python-dotenv==1.0.1
protobuf~=5.29.6
pydub~=0.25.1
websockets==12.0